.order-panel {
    border: solid 1px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    margin-bottom: 1rem;
}

.order-panel:last-child {
    margin-bottom: 0;
}

.order-panel .header {
    background: #f3f3f3;
}

.order-panel .order-item {
    margin-bottom: 1rem;
}

.order-panel .order-item:last-child {
    margin-bottom: 0;
}

.t-label {
    margin-bottom: .25rem;
    display: block;
}

.item-name {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
    color: #666666;
}

.item-price {
    color: #999999;
}

.sep-line {
    background-color: rgba(0, 0, 0, 0.12);
    height: 1px;
}

.product-pic {
    width: 80px;
    height: 80px;
}