<div class="d-flex flex-row">
    <div class="flex lock">
        <div *ngIf="category" class="container pt-3 pb-2 paper">
            <h4 class="text-uppercase">{{category.name}}</h4>
            <div class="row pl-2 pr-2">
                <div *ngFor="let p of products" class="col-6 col-md-3 p-2">
                    <a class="product-item" href="/item/{{p.url}}/{{p.id}}">
                        <div class="pic mb-2">
                            <img class="mh-100 mw-100" [src]="config.FileUrl + p.picture">
                        </div>
                        <div class="name">{{p.name}}</div>
                        <div class="price text-right txt-red mt-2">{{p.price | number: '1.2-2' }} ฿</div>
                    </a>
                </div>
            </div>
            <div class="row pl-2 pr-2">
                <pagination [href]="'/category/' + category.id + '?page='" [total]="totalProduct" [current-page]="currentPage"></pagination>
            </div>
        </div>
    </div>
    <div class="sidebar hidden-lg ml-4 ">
        <div class="paper ">
            <h6 class="widget-title ">{{ 'sub_category' | translate }}</h6>
            <tree-menu *ngIf="category && category.sub_categories " class="pt-2 pb-2 " [data]="category.sub_categories " [child]="child "></tree-menu>
        </div>
        <div *ngFor="let c of categoryFilters" class="paper mt-4 ">
            <h6 class="widget-title ">{{c.name}}</h6>
            <ul class="list-unstyled pl-2-5 pr-2-5 pt-2 pb-2 " *ngIf="c.filters.length ">
                <li class="list-item " *ngFor="let f of c.filters ">
                    <label class="d-block form-inline mb-0 "><input class="form-control mr-2 " type="checkbox ">{{f.name}}</label>
                </li>
            </ul>
        </div>
    </div>
</div>