<div class="top-nav">
    <div class="container">
        <!-- <div class="row">
            <div class="col-md-12">
            </div>
        </div> -->
        <div class="d-flex">
            <div class="flex"></div>
            <a routerLink="/confirm-payment">{{ 'confirm_payment' | translate }}</a>
            <a *ngIf="authenService.user != null" routerLink="/account">{{authenService.user.name}}</a>
            <a *ngIf="authenService.user == null" routerLink="/login">{{ 'login' | translate }}</a>
            <!-- <a>News</a> -->
        </div>
    </div>
</div>

<header #header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex">
                    <div id="logo" class="d-flex v-center">
                        <a routerLink="/" class="display-5 color-grey">LOGO</a>
                    </div>
                    <div class="flex d-lg-none"></div>
                    <div class="flex p-3 v-center d-none d-lg-flex">
                        <div class="form-group p-0 flex">
                            <input type="text" [(ngModel)]="q" autocomplete="off" (keypress)="trackQuery($event)">
                            <i class="bar"></i>
                        </div>
                        <a class="ml-2 d-flex v-center h-center" (click)="search()">
                            <i class="material-icons md-dark">search</i>
                        </a>
                        <!-- <div class="search-container d-flex">
                            <input class="search-input flex" type="text" />
                            <a class="search-button d-flex v-center h-center">
                                <i class="material-icons">search</i>
                            </a>
                        </div> -->
                    </div>
                    <div id="cart" class="d-flex flex-row-reverse v-center p-3" routerLink="/checkout">
                        <div class="counter">{{cart.totalQty}}</div>
                        <a class="d-flex v-center cart-icon">
                            <i class="material-icons md-dark">shopping_cart</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main #main>
    <router-outlet></router-outlet>
</main>
<footer class="p-5 text-center">Copyright {{year}} {{config.AppName}}. All Rights Reserved.</footer>
<div *ngFor="let d of dialog.dialogs" [id]="d.id" class="modal" tabindex="-1" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content {{d.size}}">
                <div class="modal-header">
                    <h5 class="modal-title">{{d.title}}</h5>
                    <i data-dismiss="modal" aria-label="Close" class="material-icons pointer md-dark">close</i>
                </div>
                <div class="modal-body">{{d.body}}</div>
                <div class="modal-footer">
                    <button *ngFor="let b of d.buttons" type="button" [ngClass]="'button ' + b.cls" (click)="b.handler()">
                        <span>{{b.text}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<spinner class="fixed" [hidden]="!util.loading" [text]="util.loadingText"></spinner>