<spinner [hidden]="!loading"></spinner>
<div *ngIf="order != null" class="row justify-content-md-center">
    <div class="col-md-12">
        <h2 class="page-sub-title color-green d-flex p-3 v-center h-center"><i class="material-icons pr-2">check_circle</i>{{ 'order_complete_thank_you' | translate }}</h2>
        <div *ngIf="order.payment.id == 3" class="text-center">กรุณาโอนเงินผ่านบัญชีธนาคาร (<a href="javascript:void(0)" (click)="showBank()">ข้อมูลบัญชีธนาคาร</a>)</div>
        <div class="container-fluid mt-3">
            <div class="row border-line p-3">
                <div class="col-md-3">
                    <div class="p-2 text-center">
                        <label class="font-weight-bold">{{ 'order_no' | translate }}</label>
                        <div>{{order.order_no}}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-2 text-center">
                        <label class="font-weight-bold">{{ 'order_date' | translate }}</label>
                        <div>{{order.create_date | date: 'dd/MM/yyyy HH:mm'}}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-2 text-center">
                        <label class="font-weight-bold">{{ 'payment_option' | translate }}</label>
                        <div>{{order.payment.name}}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-2 text-center">
                        <label class="font-weight-bold">{{ 'order_short_info' | translate }}</label>
                        <div>{{order.total_qty}} {{ 'items' | translate }} - {{order.total_price | number: '1.2-2'}} ฿</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h2 class="page-sub-title mt-4 mb-4">{{ 'delivery_address' | translate }}</h2>
                    <div class="mb-2"><b>{{order.delivery_address.name}}</b></div>
                    <div>{{order.delivery_address.address}}</div>
                    <div>{{order.delivery_address.district.name}}, {{order.delivery_address.province.name}} - {{order.delivery_address.postcode}}</div>
                    <div class="mt-2">{{order.delivery_address.telephone}}</div>
                </div>
                <div class="col-md-7">
                    <h2 class="page-sub-title mt-4 mb-4">{{ 'order_summary' | translate }}</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">{{ 'product' | translate }}</th>
                                <th class="text-center" style="width: 50px">{{ 'qty' | translate }}</th>
                                <th class="text-center" style="width: 150px">{{ 'total' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of order.items">
                                <td class="align-middle">{{c.item.name}}</td>
                                <td class="text-center align-middle">{{c.qty}}</td>
                                <td class="text-center align-middle">{{c.item.price * c.qty | number: '1.2-2'}} ฿</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-right align-middle">
                                    <span class="text-black-secondary pr-3">{{ 'total_summary' | translate }}:</span><span class="display-6">{{order.total_price | number: '1.2-2'}} ฿</span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog_order_complete" class="modal" tabindex="-1" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content lg">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'bank_transfer' | translate }}</h5>
                    <i data-dismiss="modal" aria-label="Close" class="material-icons pointer md-dark">close</i>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 60px"></th>
                                <th class="text-center">{{ 'bank_name' | translate }}</th>
                                <th class="text-center">{{ 'account_no' | translate }}</th>
                                <th class="text-center">{{ 'account_name' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ba of bankAccs">
                                <td class="align-middle">
                                    <div class="bank-pic">
                                        <img class="mh-100 mw-100" [src]="config.FileUrl + ba.bank.logo">
                                    </div>
                                </td>
                                <td class="align-middle">{{ba.bank.name}}</td>
                                <td class="align-middle">{{ba.account_no}}</td>
                                <td class="align-middle">{{ba.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button blue" data-dismiss="modal">
                        <span>{{ 'ok' | translate }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>