<div class="container mb-30p">
    <div class="row">
        <div class="col-md-12 d-flex h-center">
            <div class="display-6 p-3">{{ 'search_results_for' | translate }} "{{q}}"</div>
        </div>
    </div>
</div>
<div *ngIf="data" class="container">
    <div class="row">
        <div *ngFor="let p of data.data" class="col-sm-6 col-md-3">
            <a class="paper product" [routerLink]="'item/' + p.url + '/' + p.id">
                <div class="pic">
                    <img [src]="config.FileUrl + p.picture" />
                </div>
                <div class="info">
                    <div class="title">{{p.name}}</div>
                    <div class="price">{{p.price | number: '1.2-2'}} ฿</div>
                </div>
            </a>
        </div>
    </div>
</div>